.cs-slideshow-with-text .cs-slideshow-with-text__pagination .splide__arrow {
  position: static;
  transform: none;
}
.cs-slideshow-with-text .cs-slideshow-with-text__text-item {
  min-height: 20rem;
}
@media only screen and (min-width: 750px) {
  .cs-slideshow-with-text .cs-slideshow-with-text__text-item {
    min-height: 30rem;
  }
}

.cs-slideshow-with-text .cs-slideshow-with-text__text-item,
.cs-slideshow-with-text .cs-slideshow-with-text__button .button {
  display: none;
}
.cs-slideshow-with-text .cs-slideshow-with-text__text-item.is-active {
  display: flex;
}
.cs-slideshow-with-text .cs-slideshow-with-text__button .button.is-active {
  display: inline-flex;
}

.cs-slideshow-with-text .cs-slideshow-with-text__text-wrapper {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.cs-slideshow-with-text .cs-slideshow-with-text__text-item {
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
}
.cs-slideshow-with-text .cs-slideshow-with-text__text-item > * {
  margin: 0;
}
.cs-slideshow-with-text .cs-slideshow-with-text__item-pretitle {
  text-transform: uppercase;
  font-size: 1.3rem;
}
.cs-slideshow-with-text .cs-slideshow-with-text__item-title {
  font-size: 2.8rem;
}
.cs-slideshow-with-text .cs-slideshow-with-text__item-subtitle {
  color: rgba(var(--color-foreground, 0.75));
}
.cs-slideshow-with-text .cs-slideshow-with-text__pagination {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: center;
}
.cs-slideshow-with-text .splide__arrows {
  display: inline-flex;
  gap: 1rem;
}
.cs-slideshow-with-text__bottom-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3rem;
}
@media screen and (min-width: 990px) {
  .cs-slideshow-with-text .cs-slideshow-with-text__text-wrapper {
    padding: 8rem 5rem;
  }
  .cs-slideshow-with-text .cs-slideshow {
    display: flex;
  }
  .cs-slideshow-with-text .splide__track {
    width: 66.6666%;
    cursor: grab;
  }
  .cs-slideshow-with-text .cs-slideshow-with-text__text-wrapper {
    width: 33.3333%;
  }
  .cs-slideshow-with-text .cs-slideshow.reversed {
    flex-direction: row-reverse;
  }
  .cs-slideshow-with-text .cs-slideshow-with-text__item-title {
    font-size: 3.6rem;
    line-height: 1.25;
  }
}
.cs-slideshow-with-text__image-container {
  display: flex;
}
.cs-slideshow-with-text__image-container .cs-slideshow-with-text__image {
  width: 100%;
  height: auto;
}
.cs-slideshow-with-text__image-container.cs-slideshow-with-text__aspect-ratio--1-1 {
  aspect-ratio: 1/1;
}
.cs-slideshow-with-text__image-container.cs-slideshow-with-text__aspect-ratio--3-2 {
  aspect-ratio: 3/2;
}
.cs-slideshow-with-text__image-container.cs-slideshow-with-text__aspect-ratio--2-3 {
  aspect-ratio: 2/3;
}
.cs-slideshow-with-text__image-container.cs-slideshow-with-text__aspect-ratio--4-3 {
  aspect-ratio: 4/3;
}
.cs-slideshow-with-text__image-container.cs-slideshow-with-text__aspect-ratio--3-4 {
  aspect-ratio: 3/4;
}
.cs-slideshow-with-text__image-container.cs-slideshow-with-text__aspect-ratio--16-9 {
  aspect-ratio: 16/9;
}
.cs-slideshow-with-text__image-container .cs-slideshow-with-text__image-placeholder {
  background-color: #f7f7f7;
  fill: #aaa;
}
.cs-slideshow-with-text__image-container:not(.cs-slideshow-with-text__aspect-ratio--none)
  .cs-slideshow-with-text__image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
