/* Announcement bar */
.announcement-bar__message.h5 {
  font-family: var(--font-body-family);
}
/* @media only screen and (min-width: 750px) {
  h5,
  .h5 {
    font-size: calc(var(--font-heading-scale) * 1.4rem);
  }
} */
/* Header */
/* .section-header:not(.scrolled-past-header) {
  position: absolute;
  width: 100%;
} */
/* Search bar header */

@media screen and (min-width: 990px) {
  .header-search-bar-container .predictive-search__result-group:first-child {
    flex: 0 0 100%;
  }
}
@media screen and (min-width: 990px) {
  .header:not(.header--top-center) * > .header__search,
  .header--top-center > .header__search {
    display: none;
  }
}
.header-search-bar-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.header__icons {
  width: 100%;
  justify-content: flex-end;
  align-items: center;
}
@media screen and (min-width: 990px) {
  .search-modal__form {
    max-width: 25rem;
  }
}
.header-search-bar-container .search__button .icon {
  width: 2.1rem;
  height: 2.1rem;
}
@media screen and (max-width: 989px) {
  .header-search-bar-container {
    display: none;
  }
}
.header-search-bar-container .field:after {
  box-shadow: none;
}
.header-search-bar-container .field:hover.field:after {
  box-shadow: none;
}
.header-search-bar-container .field__input:focus {
  box-shadow: none;
  border-bottom: 2px solid rgba(var(--color-foreground), 1);
}

.header-search-bar-container .field__input {
  background-color: transparent;
  font-size: 1.5rem;
  border-bottom: 1px solid rgba(var(--color-foreground), 1);
}
.field__label {
  font-size: 1.5rem;
}
.button {
  text-transform: uppercase;
}
.button,
.button-label,
.shopify-challenge__button,
.customer button {
  font-size: 1.4rem;
}
.cs-icon-grid .cs-icon-grid__title {
  font-size: 2rem;
  text-transform: uppercase;
}
