.cs-marquee__item {
  display: flex;
  white-space: nowrap;
  gap: 7rem;
  align-items: center;
}
.cs-marquee__item.h2 {
  font-size: calc(var(--font-heading-scale) * 2.4rem);
}
@media screen and (min-width: 750px) {
  .cs-marquee__item.h2 {
    font-size: calc(var(--font-heading-scale) * 2.8rem);
  }
}
.cs-marquee__item svg {
  width: 2.4rem;
  height: 2.4rem;
}
