.contact img {
  max-width: 100%;
}

.contact .form__message {
  align-items: flex-start;
}

.contact .icon-success {
  margin-top: 0.2rem;
}

.contact .field {
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 750px) {
  .contact .field {
    margin-bottom: 2rem;
  }
}

.contact__button {
  margin-top: 3rem;
}

@media screen and (min-width: 750px) {
  .contact__button {
    margin-top: 4rem;
  }
}

@media screen and (min-width: 750px) {
  .contact__fields {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2rem;
  }
}
.cs-contact-form__image-container .cs-contact-form__image {
  width: 100%;
  height: auto;
}
.cs-contact-form__image-container.cs-contact-form__aspect-ratio--1-1 {
  aspect-ratio: 1/1;
}
.cs-contact-form__image-container.cs-contact-form__aspect-ratio--3-2 {
  aspect-ratio: 3/2;
}
.cs-contact-form__image-container.cs-contact-form__aspect-ratio--2-3 {
  aspect-ratio: 2/3;
}
.cs-contact-form__image-container.cs-contact-form__aspect-ratio--4-3 {
  aspect-ratio: 4/3;
}
.cs-contact-form__image-container.cs-contact-form__aspect-ratio--3-4 {
  aspect-ratio: 3/4;
}
.cs-contact-form__image-container.cs-contact-form__aspect-ratio--16-9 {
  aspect-ratio: 16/9;
}
.cs-contact-form__image-container:not(.cs-contact-form__aspect-ratio--none) .cs-contact-form__image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.contact .grid {
  align-items: center;
}
